
<div class="container-c  container text-center">
  <h1 class="animate-heading" style="color: green;">Your booking is confirmed!!!</h1>

</div>

<div class="container text-center">
<%= link_to "Share For More Items", instruments_path, method: :get, class: "btn-c" %>
</div>
