

    <div class=" ">
     <footer class="">
        <ul class="social_icon">
            <li><a class="fab fa-facebook-f" href="#"></a></li>
            <li><a class="fab fa-instagram" href="#"></a></li>
            <li><a class="fab fa-twitter" href="#"></a></li>
            <li><a class="fab fa-linkedin" href="#"></a></li>
        </ul>

    </footer>
    </div>
