 <footer>
        <ul class="social_icon">
            <li><a class="fab fa-facebook-f" href="#"></a></li>
            <li><a class="fab fa-instagram" href="#"></a></li>
            <li><a class="fab fa-twitter" href="#"></a></li>
            <li><a class="fab fa-linkedin" href="#"></a></li>
        </ul>
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <p class="fa-solid fa-copyright">we add someting</p>
    </footer>
