
<div class=" fullscreen-container  text-center bg-image">
  <div class="container h-100">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="p">Welcome to the Instrument Rental Store</h1>
        <div class="music-icons">
          <i class="fas fa-music icon-rotate"></i>
          <i class="fas fa-music icon-rotate"></i>
          <i class="fas fa-music icon-rotate"></i>
        </div>
        <div class="home-logo">
          <%= image_tag "LogoFinal.png" %>
        </div>

        <p class="lead">
          <strong>Rent the Soundtrack of Your Journey:</strong> Experience the Joy of Music with our Wide Selection of High-Quality Musical Instruments for Rent. Whether you're a Beginner or a Pro, our Instrument Rental Store is your Gateway to Unleash Your Artistry. Discover the Symphony of Possibilities and Create Musical Memories that Resonate Forever.
        </p>



       <br>

      </div>
      <div class="bt">
       <%= link_to "Browse Rentals", instruments_path, method: :get, class: "btn-p"  %>
       </div>
    </div>
  </div>
</div>
