<div class="container ">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Welcome to Our Website</h1>
      <p class="lead">Find me in <code>app/views/pages/home.html.erb</code></p>
    </div>
  </div>
</div>



