.navbar-lewagon {
  justify-content: space-between;
  background-color: #ACACAC;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  z-index: 2;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}

.nav-link{
  color: #FFFFFF
}

#my-zed-index {
  z-index: +1;
}
