.navbar-lewagon {
  justify-content: space-between;
  background: #b1b1b1;
  background: radial-gradient(circle,#b1b1b1);
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  z-index: 2;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}

.nav-link{
  color: #FFFFFF
}
