.instrument-info {
  font-size: 30px; /* Ajusta el tamaño de fuente según tu preferencia */
}
.p-show{
  font-size: 28px; /* Ajusta el tamaño de fuente según tu preferencia */
  font-weight: bold;
}

.img-show {
  margin:1rem;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2)
}


.img-ins{
  margin:1rem;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2)
}


.bg-card{
  background-color: #b3b3b3;
}

.p-t{
  margin: 0.3rem;
  padding: 1rem;
}
